@import './variables.scss';
@import './text.scss';
@import './color.scss';
@import './dimension.scss';
@import './general.scss';
@import './transitions.scss';

html, body, .sh-scrollbar{
  overflow-x: hidden;
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 6px;
  }
  
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  
  &::-webkit-scrollbar-thumb {
    background: var(--v-neutral-base);
    padding-left: 2px;
    border-radius: 7px;
  }
}
