@font-face {
  font-family: "Nunito-Regular";
  src: local("Nunito-Regular"),
   url(~assets/fonts/Nunito-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Code-Regular";
  src: local("Code-Regular"),
   url(~assets/fonts/SourceCodePro-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Code-Bold";
  src: local("Code-Bold"),
   url(~assets/fonts/SourceCodePro-Bold.ttf) format("truetype");
}

.text-align-center {
  text-align: center;
}

.text-transform-none{
  text-transform: none !important;
}

.text-decoration-none{
  text-decoration: none !important;
}

.primary-text{
  color: var(--v-primary-base) !important;
}

.error-text, .v-application i.error-text{
  color: var(--v-error-base) !important;
}

.success-text, .v-application i.success-text{
  color: var(--v-success-base) !important;
}

.neutral-text{
  color: var(--v-neutral-base) !important;
}

.neutral-darken-text{
  color: var(--v-neutral-darken2);
}

.neutral-lighten-text{
  color: var(--v-neutral-lighten2) !important;
}

.avatar1-text {
  color: var(--v-avatar1-base) !important;
}

.inherit-text{
  color: inherit !important;
}

.strong-text{
  font-weight: 700 !important;
}

.white-text{
  color: white !important;
}

.max-lines-1 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  -webkit-box-orient: vertical;
  word-break: break-all;
}

.max-lines-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
  word-break: break-all;
}

.max-lines-3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
  word-break: break-all;
}