@font-face {
  font-family: "Nunito-Regular";
  src: local("Nunito-Regular"),
   url(~assets/fonts/Nunito-Regular.ttf) format("truetype");
}

.text-transform-none{
  text-transform: none !important;
}

.text-decoration-none{
  text-decoration: none !important;
}