// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

$btn-border-radius: 12px;
$btn-sizes:	(
  'small': 40,
  'default': 48,
  'large': 52
);

$card-border-radius: 24px;
$alert-border-radius: 12px;
$text-field-rounded-border-radius: 12px;

$data-table-border-radius: 12px;